html {
    width: 80vw;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#response {
    position: relative;
    display: flex;
    flex-direction: column;
}

.message-query {
    position: relative;
    display: block;
    text-align: right; 
    color: darkgreen;
    background: lightgreen;
    padding: 5px;
    border-radius: 4px;
    width: 80%;        
    align-self: flex-end;
}


.message-response {
    color: navy;
    background: lightblue;
    padding: 5px;
    border-radius: 4px;
    width: 80%;
    
}

.alert-error {
    color: red;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible !important;
}

